<div class="results-graphic-inner component-inner">
    {{> component this}}
    <div class="results-graphic-widget component-widget">
      <img src="{{graphic}}" {{#if alt}}aria-label="{{alt}}"{{else}}aria-hidden="true"{{/if}}/>
    </div>
</div>
