<div class="results-graphic__inner component__inner">
    {{> component this}}
    <div class="results-graphic__widget component__widget">
      <img src="{{graphic}}" {{#if alt}}aria-label="{{alt}}"{{else}}aria-hidden="true"{{/if}}/>
    </div>
</div>
